/* @import "react-alice-carousel/lib/alice-carousel.css"; */
.App {
  background-color: #14161a;
  color: white;
  min-height: 100vh;
}
@media (min-width: 1280px) {
  .media {
    width: 30%;
    border-right: 2px solid grey;
  }

  .chart {
    width: 70%;
  }
}
